@page
@model TechServe.Pages.Clients.IndexModel
@{
}

<br />
<h2>Список клиентов</h2>
<a class='btn btn-primary btn-sm' href='/Equips/Create'>Новый клиент</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Почта</th>
            <th>Номер телефона</th>
            <th>Действие</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.listClient)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@item.Phone</td>
                <td>
                    <a class='btn btn-primary btn-sm' href='/Equips/Edit?id=@item.Id'>Изменить</a>
                    <a class='btn btn-danger btn-sm' href='/Equips/Delete?id=@item.Id'>Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>